.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.button-container{
  text-align: center;
  margin: 5% auto;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button{
  color: #393E46;
  background-color: #4ECCA3;
  border-color: #4ECCA3;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10%;
  padding: 10px 10px;
}
button:hover{
  background-color: #393E46;
  color: #4ECCA3;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
